<app-develop-submenu></app-develop-submenu>
<md-spinner class="app-spinner" *ngIf="!($isInitialized | async)"></md-spinner>
<app-content>
    <md-card *ngIf="($isInitialized | async) && ($models | async).items.length == 0" align-center>
        <md-card-subtitle>You have no models for this project yet!</md-card-subtitle>
        <md-card-content>
            <button md-raised-button color="primary" (click)="openCreateDialog()">Create your first model</button>
        </md-card-content>
    </md-card>
    <div *ngIf="($isInitialized | async) && ($models | async).items.length > 0">

        <p align-right>
            <button mdTooltip="Add a model" md-fab (click)="openCreateDialog()">
                <md-icon>add</md-icon>
            </button>
        </p>
        <md-card>
            <md-card-content>
                <md-progress-bar mode="indeterminate" *ngIf="($models | async).isLoading"></md-progress-bar>
                <md-nav-list>
                    <ng-container *ngFor="let model of ($models | async).items">
                        <a md-list-item [routerLink]="[model._id]">
                            <i class="material-icons" md-list-icon>description</i>
                            <h4 md-line><strong>{{model.name}}</strong></h4>
                        </a>
                    </ng-container>
                </md-nav-list>
            </md-card-content>
        </md-card>
    </div>
</app-content>
