<form #detailsForm="ngForm" (ngSubmit)="save()">
    <h2 md-dialog-title>Create a new model</h2>
    <md-dialog-content>
        <p>
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Model name" name="name" [(ngModel)]="model.name">
            </md-input-container>
        </p>
        <p>
            <md-select name="structure" placeholder="Structure" [(ngModel)]="model.structure">
                <md-option value="list">List of items</md-option>
                <md-option disabled value="single">Single instance</md-option>
                <md-option disabled value="tree">Tree hierarchy</md-option>
            </md-select>
        </p>
        <p>
            <md-slide-toggle name="isWebpage" [(ngModel)]="model.isWebpage">Webpage enabled</md-slide-toggle>
        </p>

    </md-dialog-content>
    <md-dialog-actions>
        <button md-button md-dialog-close>Cancel</button>
        <button md-raised-button color="primary">Save</button>
    </md-dialog-actions>
</form>
